/**
 * Layout and style for EVE Traders Handbook.
 */

body {
    background: #00060a url(../i/background.jpg) no-repeat 50% 100px;
    color: #333;
    font: 14px/20px "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #1270d3;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}

/* HEADER */

header {
    height: 100px;
    background: #fff;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

h1 a {
    color: #333;
    font-size: 48px;
    line-height: 100px;
    font-weight: 100;
    text-decoration: none;
}

.header-nav {
    position: absolute;
    right: 0;
    top: 3px;
}

.header-nav li {
    float: right;
    list-style: none;
    margin-left: 20px;
}

.nav-item {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    opacity: 0.25;
    display: block;
    height: 65px;
    width: 48px;
    white-space: nowrap;
}

.nav-settings {
    background-image: url(../i/settings.png);
}

.nav-fits {
    background-image: url(../i/fits.png);
}

.nav-item:hover {
    opacity: 0.5;
}

/* PAGE CONTENTS */

.background {
    background: #eee;
    overflow: hidden;
}

.main {
    float: left;
    width: 660px;
    padding: 20px;
}

.background h1 {
    font-size: 48px;
    line-height: 100px;
    font-weight: 100;
}

h2 {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    background: #1270d3;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    width: 620px;
    margin: 0;
}

table {
    background: #fff;
    width: 660px;
    line-height: 30px;
}

tr {
    height: 30px;
}

.losses tbody tr:nth-child(even) {
    background: #f4f4f4;
}

.losses tbody tr:hover td {
    background: #d0e2f6;
    cursor: pointer;
}

th, td {
    padding: 0 10px;
}

th {
    background: #0a396b;
    color: #fff;
    font-weight: 600;
    text-align: left;
}

.losses td {
    white-space: nowrap;
}

.manufacturing th, .manufacturing td {
    padding: 5px 10px;
    line-height: 1.2;
    vertical-align: top;
}

.num {
    text-align: right;
}

.industry {
    float: left;
    color: #D34231;
    font-weight: bold;
    width: 16px;
    height: 16px;
    margin-top: 7px;
    opacity: 0.5;
}

.losses tbody tr:hover .industry {
    opacity: 1;
}

.losses a {
    color: #333;
    text-decoration: none;
}

.losses tfoot td {
    text-align: center;
    font-weight: 600;
    background: #c0cad4;
}

.ffwd {
    letter-spacing: -0.25em;
}

.profit, .loss {
    font-size: 10px;
    color: #090;
    float: right;
}

.loss {
    color: #c00;
}

.percentage {
    font-size: 12px;
    margin-right: 10px;
    font-weight: bold;
}

.import {
    background: #090;
    border-radius: 2px;
    color: #fff;
    line-height: 1;
    padding: 3px 5px;
    margin-top: 7px;
}

.import.loss {
    background: #c00;
}

/* FORMS */

.api-needed {
    background: #ccc;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 0 0 40px;
}

.api-needed + .api-details {
    display: none;
}

.form-field {
    margin: 0 0 40px;
}

.form-label, .form-input {
    display: block;
    width: 660px;
    clear: left;
}

.form-label {
    margin-bottom: 10px;
}

.form-input {
    width: 620px;
    padding: 10px 20px;
    font-size: 20px;
}

.inline-checkbox {
    margin-right: 20px;
    width: 200px;
    display: block;
    float: left;
}

.form-actions {
    clear: left;
    display: block;
    padding: 20px 0;
}

.form-button {
    border: 0;
    background: #1270d3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
}

.form-button:hover {
    opacity: 0.8;
}

/* ITEM DETAILS */

.details {
    margin: 20px 0 0;
    background: #fff;
    width: 660px;
    overflow: hidden;
}

.loader {
    display: block;
    margin: 20px auto;
}

.icon {
    float: left;
    margin: 20px 10px 0 20px;
}

.details h3 {
    background: transparent;
    margin-top: 20px;
}

.eve-central {
    float: left;
    clear: left;
    width: 320px;
    margin: 20px 0 0 20px;
}

.manufacturing, .prices {
    float: right;
    clear: right;
    width: 280px;
    margin: 20px 20px 20px 0;
}

.manufacturing tfoot {
    font-weight: 600;
}

.manufacturing .efficiency td {
    text-align: center;
    font-weight: normal;
    font-size: 12px;
}

.warning {
    clear: both;
    color: #808080;
    text-align: center;
    font-size: 12px;
    margin: 10px 0 20px;
}

.jita-price {
    color: #c00;
}

/* FILTERS */

.import-information,
.filters {
    float: right;
    background: #fff;
    width: 279px;
    border-left: 1px solid #ccc;
}

.import-information {
    background: #ddd;
    border-bottom: 1px solid #ccc;
    padding: 20px 20px 10px;
    width: 239px;
    text-align: center;
}

.import-timestamp {
    margin-bottom: 10px;
}

.import-timestamp strong {
    display: block;
    font-size: 11px;
}

h3 {
    font-size: 20px;
    line-height: 60px;
    height: 60px;
    background: #eee;
    margin: 0;
    font-weight: 300;
    padding: 0 20px;
}

.filter {
    margin: 20px;
}

.search {
    width: 223px;
    padding: 5px;
}

/* FITTINGS */

.new-fittings {
    float: left;
    width: 100%;
}

.fitting {
    float: left;
    margin: 0 20px 20px 0;
    width: 310px;
}

.fitting h4 {
    margin: 0 0 10px;
}

.fitting textarea {
    width: 100%;
    height: 400px;
}

span.fits {
    background: #8338D6;
    color: #fff;
    padding: 2px 5px;
    font-size: 10px;
    position: relative;
    top: -1px;
}

.fit-tt {
    background: #fff;
}

/* FOOTER */

footer {
    clear: both;
    color: #fff;
    opacity: 0.5;
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
    max-width: 660px;
    padding: 60px 0 40px;
}

footer a {
    color: #fff;
}

/* AUTOCOMPLETE */

.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
}

.ui-menu-item {
    padding: 10px 20px !important;
    background: #fff;
}

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
    margin: 0 !important;
    background: #eee;
    color: #000;
}

.ui-menu-item a {
    color: #333;
}

.selected-regions, .selected-alliances {
    list-style: none;
    margin: 20px 0;
    overflow: hidden;
    padding: 0;
}

.remove-region, .remove-alliance {
    float: left;
    display: block;
    width: 200px;
    padding: 5px;
    background: #ddd;
    text-decoration: none;
    color: #666;
    margin: 0 10px 10px 0;
}

.remove-region:hover, .remove-alliance:hover {
    background: #bbb;
    text-decoration: line-through;
}
